<!-- Estadísticas -->
<div class="row mb-4">
    <div class="col-md-2">
        <div class="card bg-primary text-white">
            <div class="card-body">
                <h5 class="card-title">Total Estudiantes</h5>
                <p class="card-text display-4 text-white">{{ total_estudiantes }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card bg-success text-white">
            <div class="card-body">
                <h5 class="card-title">Total Profesores</h5>
                <p class="card-text display-4 text-white">{{ total_profesores }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card bg-info text-white">
            <div class="card-body">
                <h5 class="card-title">Total Clases</h5>
                <p class="card-text display-4 text-white">{{ total_clases }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card bg-warning text-white">
            <div class="card-body">
                <h5 class="card-title">Total Asignaturas</h5>
                <p class="card-text display-4 text-white">{{ total_asignaturas }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card bg-danger text-white">
            <div class="card-body">
                <h5 class="card-title">Total Administradores</h5>
                <p class="card-text display-4 text-white">{{ total_administradores }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card bg-secondary text-white">
            <div class="card-body">
                <h5 class="card-title">Total Cursos</h5>
                <p class="card-text display-4 text-white">{{ total_cursos }}</p>
            </div>
        </div>
    </div>
</div> 