{% extends 'base/base.html' %}
{% load static %}
{% load evaluacion_tags %}

{% block title %}Panel del Profesor - Modular{% endblock %}

{% block content %}
<div class="container-fluid mt-4">
    <!-- Incluir encabezado del docente -->
    {% include 'teacher/header.html' %}
    
    <!-- Incluir pestañas de navegación -->
    {% include 'teacher/navigation_tabs.html' %}
    
    <!-- Contenido de las pestañas -->
    <div class="tab-content" id="teacherTabsContent">
        <!-- Incluir pestaña de resumen general -->
        {% include 'teacher/tab_resumen.html' %}
        
        <!-- Incluir pestaña de curso jefe -->
        {% include 'teacher/tab_curso_jefe.html' %}
        
        <!-- Incluir pestaña de asignaturas -->
        {% include 'teacher/tab_asignaturas.html' %}
        
        <!-- Incluir pestaña de calendario general -->
        {% include 'teacher/tab_calendario_general.html' %}
        
        <!-- Incluir pestaña de reportes -->
        {% include 'teacher/tab_reportes.html' %}
        
        <!-- Incluir pestaña de comunicaciones -->
        {% include 'teacher/tab_comunicaciones_avanzadas.html' %}
    </div>
</div>

<!-- Incluir scripts y estilos -->
{% include 'teacher/scripts.html' %}
{% endblock %} 